/* Colors 
Home, section 1 (head, background): #9fa7bf
Home, section 1 (head, boxes): #568c63
Home, section 2 (developers, background): #c5c8d9 
Home, section 2 (developers, boxes): #49736f
*/

/* Utilities  */
p {
  margin: 10px 0;
  font-size: 18px;
}

/* Section header_home */
.section_header_home {
  background-color: #2a4359; 
}

.header_home {
  display: flex;
  align-items: start;
  background: #2a4359; 
}

.header_home .box {
  flex: 1;
  background: #2a4359; 
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header_home .box:nth-of-type(1) {
  flex-grow: 2;
}

.header_home .box:nth-of-type(2) {
  flex-grow: 1;
}

.container_buttons_links_header_home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container_buttons_links_header_home a:hover {
  color: #2a4359; 
}

.container_buttons_links_header_home btn {
  width: 100px;
  height: 100px;
  background: #2a4359; 
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section developers */
.section_developers {
  background-color: #2a4359; 
}

.developers {
  display: flex;
  align-items: start;
  background: #2a4359; 
}

.developers .box {
  flex: 1;
  background: #a3cad3; 
  color: black;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.developers .box:nth-of-type(1) {
  flex-grow: 4;
}
.developers .box:nth-of-type(2) {
  flex-grow: 4;
}
.developers .box:nth-of-type(3) {
  flex-grow: 4;
}

.developers .box2 {
  flex: 1;
  background: #a3cad3; 
  color: black;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.developers .box2:nth-of-type(1) {
  flex-grow: 4;
}
.developers .box2:nth-of-type(2) {
  flex-grow: 4;
}
.developers .box2:nth-of-type(3) {
  flex-grow: 4;
  background: #2a4359; 
}

.section_container_buttons_developers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 0px;
  margin: 0px 0px;
}

.btn_developers {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  background-color: #49736f;
  border: 2px solid #c5c8d9;
}

.btn_developers:hover {
  color: #fff;
  background-color: #c5c8d9;
  border: 2px solid #c5c8d9;
  text-decoration: none;
}

@media (max-width:768px) {
  .header_home {
    flex-direction: column;
  }
  .developers {
    flex-direction: column;
  }
  .section_container_buttons_developers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


/* LOGIN STYLING */


.login-box{
  width: 320px;
  margin-top: 40px;
  margin: 25px auto;   
  padding: 20px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
}

.login-input{
  width: 100%;
  height: 42px;
  margin: 8px 0;
  padding: 0 12px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
}

.login-btn{
  width: 100%;
  height: 42px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}