{% extends "layout.html" %}
{% block content %}

<section class="hero-section">
  <div class="hero-layer">
    <div class="hero-inner">
    
      <h1>Track your footprint<br>Change your habits</h1>
      <p class="hero-description">
      </p>

      <div class="hero-actions">
        <a href="{{ url_for('users.register') }}" class="btn-main">Explore now</a>
        <a href="#about-us" class="btn-ghost">Meet the team</a>
      </div>
    </div>
  </div>
</section>

<section class="intro-panel-section">
  <div class="intro-panel">
    <div class="intro-panel-left">
      <p class="section-tag">Our mission</p>
      <h2>Make sustainability easier to understand</h2>
    </div>

    <div class="intro-panel-right">
      <p>
        CarbonTrack helps users see how daily travel choices shape their carbon
        footprint. The goal is to make sustainability feel clearer, more visual
        and easier to improve.
      </p>
    </div>
  </div>
</section>

<section class="about-section" id="about-us">
  <div class="about-header">
    <h2>The team behind CarbonTrack</h2>
  </div>

<div class="team-grid">

  <div class="profile-card">
    <div class="profile-top"></div>
    <div class="profile-content">
      <img src="https://media.licdn.com/dms/image/v2/D4E03AQGEs456ZlnQlg/profile-displayphoto-crop_800_800/B4EZvN1ywzIwAI-/0/1768684990661?e=1778112000&v=beta&t=XQRv_jCrabEbL0az4RGc0BMaF05XlLicVEF4Tjuhb1I" alt="Elias Kyte">
      <h3>Elias Kyte</h3>

      <div class="profile-info">
        <span>20 years old • Bergen</span>
        <span>Student at NHH</span>
      </div>

      <a href="https://www.linkedin.com/in/elias-kyte-612b91268/" target="_blank" class="profile-btn">LinkedIn</a>
    </div>
  </div>

  <div class="profile-card">
    <div class="profile-top"></div>
    <div class="profile-content">
      <img src="https://media.licdn.com/dms/image/v2/D4D03AQEXE_lwqsLMAg/profile-displayphoto-crop_800_800/B4DZonDX6NKIAI-/0/1761591787814?e=1778112000&v=beta&t=UFn_MkPTMQmM7I5EFUDIDl5y4l-rLywso3wQCzaGWMk" alt="Trond Heløe">
      <h3>Trond Heløe</h3>

      <div class="profile-info">
        <span>21 years old • Oslo</span>
        <span>Student at NHH</span>
      </div>

      <a href="https://www.linkedin.com/in/trond-heidenreich-hel%C3%B8e-604a61255/" target="_blank" class="profile-btn">LinkedIn</a>
    </div>
  </div>

  <div class="profile-card">
    <div class="profile-top"></div>
    <div class="profile-content">
      <img src="https://media.licdn.com/dms/image/v2/D4E03AQE8-l9YRMo1EA/profile-displayphoto-crop_800_800/B4EZzYlwEvIsAI-/0/1773160304845?e=1778112000&v=beta&t=Ll91c8nK7HNBTqJNlC6F1UmYVr5qaze6R9_9c3qs5L0" alt="Filip Odgaard Dimcevski">
      <h3>Filip Odgaard Dimcevski</h3>

      <div class="profile-info">
        <span>20 years old • Bergen</span>
        <span>Student at NHH</span>
      </div>

      <a href="https://www.linkedin.com/in/filip-dimcevski-3a3887382/" target="_blank" class="profile-btn">LinkedIn</a>
    </div>
  </div>

  <div class="profile-card">
    <div class="profile-top"></div>
    <div class="profile-content">
      <img src="https://media.licdn.com/dms/image/v2/D4D03AQEWl-EgnJRK5A/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1709993055065?e=1778112000&v=beta&t=LXKfQMS3DXCNQGvwcg779A7W256KY_kHpAv2kN_ExHU" alt="Sarah Hess">
      <h3>Sarah Hess</h3>

      <div class="profile-info">
        <span>21 years old • Vienna</span>
        <span>Student at WU Vienna</span>
      </div>

      <a href="https://www.linkedin.com/in/sarah-he%C3%9F-613b37297/" target="_blank" class="profile-btn">LinkedIn</a>
    </div>
  </div>

  <div class="profile-card">
    <div class="profile-top"></div>
    <div class="profile-content">
      <img src="https://media.licdn.com/dms/image/v2/D5603AQHK67KR8t5T_g/profile-displayphoto-shrink_800_800/B56ZeERW69GoAk-/0/1750270833407?e=1778112000&v=beta&t=07KF11ItVQ2w_pphJeMeOrhMGs2n3zvJAPSZ4QepZKg" alt="Victor Rande">
      <h3>Victor Rande</h3>

      <div class="profile-info">
        <span>21 years old • Oslo</span>
        <span>Student at NHH</span>
      </div>

      <a href="https://www.linkedin.com/in/victor-rande-7708ab358/" target="_blank" class="profile-btn">LinkedIn</a>
    </div>
  </div>

  <div class="profile-card">
    <div class="profile-top"></div>
    <div class="profile-content">
      <img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.15752-9/642739164_1909097873063468_489034028673989011_n.jpg?stp=dst-jpg_s565x565_tt6&_nc_cat=105&ccb=1-7&_nc_sid=0024fc&_nc_ohc=OmOvOd1k9_cQ7kNvwFAkMYe&_nc_oc=AdmPASgUwOe1NxofiC7cCAG1YTLiMMRhOdjhESwYz6QNL7W9QgbE5zkMDgmhK72-CK8&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent-arn2-1.xx&_nc_ss=8&oh=03_Q7cD4wHxRmCujIyHbEZo0IPWjr-cznjrpwu2hZgcE-Q8HPSw_w&oe=69CF8D38" alt="Loic Maleck">
      <h3>Loic Maleck</h3>

      <div class="profile-info">
        <span>20 years old • Germany</span>
        <span>Student at WU Vienna</span>
      </div>

      <a href="https://www.linkedin.com/in/lo%C3%AFc-maleck-404a52296/" target="_blank" class="profile-btn">LinkedIn</a>
    </div>
  </div>

</div>

{% endblock content %}













