{% extends "layout.html" %}
{% block content %}
  
<!-- Header -->
<section class="section_header_methodology">
  <div class="container">

    <div class="header">
      <div class="box"> 
        <h1 style="font-size:55px; font-family: 'Times New Roman', Times, serif;">
          <span class="text-logo"> Methodology</span>
        </h1>

        <p style="text-align:left;">
          Our website allows users to calculate their own carbon emissions by entering information about their daily activities, such as transportation, energy use, and consumption habits.
          <br><br>
          Based on the data you provide, we apply standard emission factors (for example, CO₂ per kilometer driven or per kWh of electricity used) to estimate your total carbon footprint. The system multiplies your input by these emission factors and then adds everything together to give you an overall estimate of your carbon emissions.
          <br><br>
          This method provides a simple and personalized way to understand your environmental impact.
        </p>

        <div class="container_buttons_links_header">
          <div class="btn">
            <a href="#" class="btn btn-primary btn-lg mr-2" style="background-color:#007bff;">Paper</a>
          </div>
          <div class="btn">
            <a href="{{url_for('carbon_app.carbon_app_home')}}" class="btn btn-primary btn-lg mr-2" style="background-color:#007bff;">Carbon App</a>
          </div>
        </div>  
      </div>

      <div class="box">
        <img 
          src="{{url_for('static', filename='icons/methodology2.svg')}}"
          width="325" 
          height="325"
          alt=""/>
      </div>
    </div>
    
  </div>
</section> 

<!-- Methodology -->
<section class="section_body_methodology">
  <div class="container">

    <div class="methodology" style="display:block;">
      <h1 style="text-align:center;"> Methodology</h1>
      <p>
        The following mathematical expressions represent the analytical foundation of our application. They describe the relationships between key variables used in our calculations and illustrate how theoretical models are translated into practical algorithms within the system.
      </p>      
    </div>

    <div class="methodology" style="display:block;">
      <h1 style="text-align:center;"> Our numbers and formulas</h1>
      <p>
        Attached are the \(\LaTeX ~ formulas\) that will form the core of our profject:
      </p> 
    </div>

    <!--Enumerated list (table with two columns)-->
    <div class="methodology"> 
      <div class="box_table2" style="height:200px;">
        <ol start="1">
          <li>
            <h4>Bus</h4>
            <p class="text-left">
              \( CO_{2} = {d \cdot ef \ } \)
              <br>
              <br>
              0.03kg/km for diesel
              <br>
              0.00kg/km for electric
                         </p>
          </li>
        </ol>                        
      </div>

      <div class="box_table2" style="height:200px;">
        <ol start="2">
          <li>
            <h4>Plane</h4>
            <p class="text-left">
              \( CO_{2} = {d \cdot ef \ } \) inside text.
              <br>
              <br>
             0.40781kg/km for business,
             <br>
             0.56251kg/km for first class
            </p>
          </li>
        </ol>
      </div>  
    </div>

  
    <div class="methodology"> 
      <div class="box_table2" style="height:425px;">
        <ol start="3">
          <li>
            <h4>Car</h4>
            <p class="text-left">
               \(CO_{2} = {d \cdot ef \ } \) 
              <br>
              <br>
             0.17048kg/km for diesel,
             <br>
             0.12004kg/km for hybrid,
            <br>
            0.00kg/km for electric
              
            </p>
          </li>
          <li>
            <h4>Motorbike</h4>
            <p class="text-left">
              \(CO_{2} = {d \cdot ef \ } \) 
              <br>
              <br>
              0.11355kg/km for diesel
            </p>
          </li>
        </ol>                        
      </div>

      <div class="box_table2" style="height:425px;">
        <ol start="5">
          <li>
            <h4>Ferry</h4>
            <p class="text-left">
              \(CO_{2} = {d \cdot ef \ } \) 
              <br>
              <br>
              0.01874kg/km for diesel
            </p>
          </li>
          <li>
            <h4>Train</h4>
            <p class="text-left">
               \(CO_{2} = {d \cdot ef \ } \) 
              <br>
              <br>
              0.091kg/km for diesel,
              <br>
              0.007kg/km for Nordic,
              <br>
              0.026kg/km for Europe
            </p>
          </li>
        </ol>
      </div>  
    </div>

    <!--Enumerated list (table with one column)-->
    <div class="methodology">              
      <div class="box_table1"></div>

      <div class="box_table1">
        <ol>
          <li>
            <h4>Buses</h4>
            <p class="text-left">
              The <strong>carbon dioxide emissions</strong> produced by buses are organized in <strong>four categories</strong>. The carbon dioxide emission produced by diesel buses is 0.10231 grammes per kilometer. The carbon dioxide emission produced by CNG buses is 0.08 grammes per kilometer. The carbon dioxide emission produced by petrol buses is 0.10231 grammes per kilometer. If the buses do not use fossil fuel, their dioxide carbon emissions are 0 grammes per kilometer.
              <br>
              To work out buses dioxide emissions, we use the next formula:
              \[CO^2 = {Cte + \sqrt{f(km)} \over t}.\]
              <br>
              Where:
              <ul style="text-align:left;">
                <li>\(Cte\) is a constant, since the engine requires some fuel to initialize.</li>
                <li>\(km\) are the kilometers.</li>
                <li>\(f\) is a coefficient depending on the type of fuel (see paragraph above).</li>
                <li>\(t\) is the temperature, since in winter the engines require less fuel.</li>
              </ul>
            </p>
          </li>
          <li>
            <h4>Cars</h4>
            <p class="text-left">...</p>
          </li>
          <li>
            <h4>Planes</h4>
            <p class="text-left">...</p>
          </li>
        </ol>                        
      </div>

      <div class="box_table1"></div>  
    </div>

  </div>
</section>

{% endblock content %}



